.container {
    height: 100vh;
    padding-top: 3em;
}

.main-blog {
    background-color: whitesmoke;
    width: 75%;
    margin: 0 auto;
    padding: 2em;
}

.para {
    text-align: justify;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    opacity: 0;
    transform: translateX(200px);
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
    background-color: #c0c0c0;
    margin: 2em 0em 2em 0em;

}

.student-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.video-advertisment {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2em;
    opacity: 0;
    transform: translateX(-200px);

}

.show-video-advertisment {
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;

}

.show-para{
    opacity:1;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;

}


































/*
    For Responsiveness of the website
    CSS Media Queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .para {
        font-size: 1em;
    }

    .student-info {
        font-size: 0.5em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .para {
        font-size: 1em;
    }

    .student-info {
        font-size: 0.5em;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .para {
        font-size: 1.5em;
    }

    .student-info {
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .para {
        font-size: 1.75em;
    }

    .student-info {
        font-size: 1em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .para {
        font-size: 2em;
    }

    .student-info {
        font-size: 1em;
    }
}